@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500;600&display=swap');

* {
    font-family: 'Readex Pro';
}

.first-section-whole {
    background-color: #1F2937;
    padding-bottom: 120px;
}

.top-bar {
    display: flex;
}

.top-bar p {
    color: white;
    height: 50px;
    flex: 1 1 20%;
    text-align: center;
}

.header-links {
    display: flex;
    flex: 1 1 0%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo {
    font-weight: bold;
}

.first-section {
    display: flex;
    padding-left: 200px;
}

.text-and-button {
    width: 500px;
}

.signup {
    background-color: #3882F6;
    border: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;
}

.second-section {
    text-align: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    flex: 1 1 0%;
    width: 70%;
    margin: auto;
}

.rounded-box {
    border: 3px solid #3882F6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: auto;
}

.box-one {
    display: flex;
    flex: 1;
	flex-direction: column;
}

.box-two {
    display: flex;
    flex: 1;
	flex-direction: column;
}


.box-three {
    display: flex;
    flex: 1;
	flex-direction: column;
}


.box-four {
    display: flex;
    flex: 1;
	flex-direction: column;
}

